@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
  font-family: "Indie-Flower";
  ::-webkit-scrollbar {
    width: 6px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #babfc4;

  
  ::-webkit-scrollbar-thumb:hover {
      background-color: #24489b;
  }

}
::-webkit-scrollbar-thumb {
  background-color: rgb(4 240 15);
  width: 5px;
  box-shadow: inset 0px 0px 5px #5b5c51;
}

}
.App {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgb(25, 31, 38);
  flex-direction: column;

  .nowPage {
    background-color: rgb(0, 141, 83);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    //margin: 0 10px
  }

  .App-div {
    width: 90vw;
    height: auto;
    border-radius: 22px;
    background: linear-gradient(
      284deg,
      rgba(181, 209, 116, 1) 0%,
      rgba(105, 162, 56, 1) 29%,
      rgba(97, 158, 58, 1) 40%,
      rgba(76, 148, 62, 1) 62%,
      rgba(58, 126, 61, 1) 72%,
      rgba(3, 56, 56, 1) 100%
    );
    background-size: 200% 200%;
    animation: backgroundAnime 7s ease infinite alternate;
    margin-bottom: 20px;
  }

  @keyframes backgroundAnime {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
}
